@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

html, body {
	background: #EBEBEB;
	height: 100%;
}


#container {
	position: relative;
	background: #F7F7F7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF8E8), to(#FAF8F5));
	width: 85%;
	margin: 0 auto;
	height: 400px;

}
.topNav {
	position: relative;
	height: 100px;
	top: 0;
	padding: 35px 50px 0 50px;
}

nav a.logo {
	display: block;
	height: 72px;
	left: 520px;
	margin: 0;
	padding: 4px;
	position: absolute;
	width: 136px;


}
nav a.logo:hover {
	border: 4px solid #6b6b6b;
	padding: 0;
}


nav a.logo img {
	display: block;
	height: 72px;
	width: 136px;
}

.topNav a {
	display: block;
	float: left;
	font-size: 20px;
	height: 40px;
	line-height: 20px;
	margin: 12px 0 0 0;
	text-transform: uppercase;
	text-align: center;
	width: 220px;
	position: relative;
	color: #ACB5B4;
	padding-top: 20px;
	background: url('../CAPTURE3.PNG') no-repeat center;
	font-family: "Raleway";

}

nav a.abilities {
	margin-left: 160px;
	
}
header {
	position: relative;
	padding: 0 50px 15px 50px;
	background: inherit;
	top: 0;
}
.wrapper {
	width: 1047px;
	position: relative;
}
.bxwrap {
	width: 947px;
	height: 250px;
	position: relative;
	padding: 0 50px;
	
}
#info div:nth-of-type(2) {
	color: red;
}
div.bxwrap p {
	padding: 40px;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Raleway";
	opacity: .5;

}
.contentcontainer {
	position: relative;
	height: 800px;
	width: 1147px;
}
.lowerleftcontainer {
	height: 340px;
	width: 400px;
	position: relative;
	float: left;
	top: 20px;
	margin: 0;
	display: inline-block;
	background: #F7F7F7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF8E8), to(#FAF8F5));
	transition: all 500ms ease-in-out;


}

.lowerrightcontainer {
	height: 340px;
	background: #F7F7F7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF8E8), to(#FAF8F5));
	position: relative;
	float: right;
	width: 725px;
	margin: 20px 0 20px 20px;
	transition: all 500ms ease-in-out;
}

 
.image {
	position: relative;
	height: 300px;
	width: 360px;
	background-size: 100%;
	margin: 20px;
	border: 1px solid blue;

}
.image label, .image input {
	position: relative;
	top: 120px;
	left: 90px;
}
.image label {
	font: 33px Georgia;
	color: blue;
	
}



/*img {
	height: 300px;
	width: 360px;
	position: relative;


}/*
/*  when we hover over the img   */

.imghover {
	height: 700px;
	width: 1100px;
}
.imagehover {
	position: relative;
	height: 700px;
	width: 1100px;
}
.lowerlefthover {
	height: 727px;
	width: 1147px;
}
/* what happens to the right container when the img is hovered over*/
.lowerrighthover {
	float: none;
	opacity: .4;
	position: absolute;
	top: 60px;
	left: 40px;
	pointer-events: none;
	height: 476px;
	width: 1015px;
	border: 1px solid black;

	}


.cycle {
	position: absolute;
	height: 52px;
	width: 100%; 
	bottom: 0;
}
.cycle ul {
	position: relative;
	display: inline;
}
.cycle li {
	position: relative;
	display: inline;
	margin-right: 50px;
	opacity: .5;
}
.cycle li:nth-child(10) {
	margin-right: 20px;
}
.cycle a {
	background: none;
	text-decoration: none;
	color: blue;
}

.personal header {
	font: 45px Georgia;
	text-align: center;
	opacity: .8;
	top: 15px;
}
.contactinfo {
	font: 15px Georgia;
	text-align: center;
}
#address {
	font: 20px Georgia;
	text-align: center;
	opacity: .5;
}
.hidden {
	display: none;


}
/* question1: how best shuffle through different parts of the page
	2. how to animate the quote coming in, and possibly make it disappear
	3. loop the content in
	 */
.personal header {
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
	color: #B39BA3;
}
#info hr {
	margin-right: 250px;
	margin-left: 250px;
}