.grey_area {
	background: grey;
	position: relative;
	display: block;
	margin: 20px 20px 0px 20px;
	height: 400px;
	padding: 20px;
}
.blue_area {
	background: blue;
	margin: 20px 20px 20px 20px;
	width: 400px;
	height: 300px;
	padding: 20px;
	position: relative;

}
.red_area {
	background: red;
	height: 85px;
	border-radius: 15px;
	position: relative;
	margin: 10px auto;
	border: 2px black solid;
}

#container {
	height: 300px;
	width: 300px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.square1 {
	background: yellow;
	height: 120px;
	width: 120px;
	bottom: 0px;
	left: 0px;
	position: absolute;

}
.square2 {
	background: purple;
	height: 120px;
	width: 120px;
	margin: 90px auto 90px;

}
.square3  {
	background: orange;
	height: 120px;
	width: 120px;
	top: 0px;
	right: 0px;
	position: absolute;
}